{{ if eq .chezmoi.os "windows" }}
$SCRIPTS_DIR = "{{ .chezmoi.sourceDir }}/scripts/windows/"

$scripts = @(
    "install-packages.ps1",
    "install-gcm.ps1",
    "install-code.ps1",
    "install-starship.ps1",
    "install-fonts.ps1",
    "install-chrome.ps1"
)

foreach ($s in $scripts) {
    $fullPath = Join-Path $SCRIPTS_DIR $s
    . $fullPath
}
{{ end }}