{{ if eq .chezmoi.os "linux" }}
#!/bin/sh

SCRIPTS_DIR="{{ .chezmoi.sourceDir }}/scripts/fedora/"

source $SCRIPTS_DIR/install-packages.sh
source $SCRIPTS_DIR/install-gcm.sh
source $SCRIPTS_DIR/install-neovim.sh
source $SCRIPTS_DIR/install-code.sh
source $SCRIPTS_DIR/install-fish.sh
source $SCRIPTS_DIR/install-starship.sh
source $SCRIPTS_DIR/install-fonts.sh
source $SCRIPTS_DIR/install-orchis.sh
source $SCRIPTS_DIR/install-swidow.sh
source $SCRIPTS_DIR/install-chrome.sh
source $SCRIPTS_DIR/copy-images.sh
{{ end }}